.property-form {
}

.property-row {
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid gray;
    font-family: Monospace, sans-serif;
    background: #252526;
    color: #c7c7c7;
}

/* .property-row:hover{
    font-weight:bolder;
    background: gray;
} */
.property-search {
    overflow-x: hidden;
    font-weight: bold;
    border-right: 1px solid gray;
    width: 100%;
    padding: 2px;
    display: block;
}
.property-header {
    overflow-x: hidden;
    font-weight: bold;
    border-right: 1px solid gray;
    width: 100%;
    padding-left: .25em;
    display: block;
    background: #2d2d30;
    color: #c7c7c7;
}
.property-title {
    overflow-x: hidden;
    border-right: 1px solid gray;
    flex-grow: 1;
    flex-basis: 0;
    padding-left: .25em;
}

.property-input {
    min-width: 0;
    overflow-x: hidden;
    flex-grow: 1;
    flex-basis: 0;
    border: none;
    transition: border-color .15s ease-in-out;
    transition: box-shadow .15s ease-in-out;
    padding: 3px;
    font-family: inherit;
    background: #252526;
    color: #f1f1f1;
}

.property-input:focus {
    outline: 0;
    box-shadow: rgba(130, 150, 140, 0.25) 0px 0px 0px 0.1rem;
}

.property-input:focus + .property-title {
    background: #3399ff;
    color: #f1f1f1 !important;
}

.property-row:hover > .property-title {
    color: #3399ff;
}