.ol-db {
    border: 1px red solid;
}

body {
    font-family: Monospace, sans-serif;
}

.active {
    background: #c7c7c7 !important;
    color: black !important;
}

.sidebar {
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
}

.sidebar-buttons {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar-item {
    flex-grow: 1;
    background: #252526;
    color: #c7c7c7;
    list-style-type: none;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar-text {
    color: inherit;
    user-select: none;
    pointer-events: none;
    width: 90px;
    height: 2px;
    transform: translateX(-45px) rotate(-90deg);
    text-align: center;
}

.slider {
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    width: 250px;
    transition: transform 150ms 0s;
    background: #c7c7c7 !important;
    color: black !important;
    z-index: -1;
}

.slider-content {
    width: calc(100% - 30px);
    height: 100%;
    margin-left: 30px;
    position: fixed;
    transition: transform 150ms 0s;
    z-index: inherit;
    overflow-y: auto;
}

.slider-handle {
    position: absolute;
    background: #303330;
    height: 100%;
    float: right;
    width: 7px;
    right: -5px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    overflow: auto;
    cursor: ew-resize;
    z-index: inherit;
}

@media (max-width: 500px) {
    .slider-show {
        width: 100% !important;
    }

    .slider-handle {
        display: none;
    }
}

.slider-show {
    /*   left: 0px; */
    transform: translateX(0%);
}

.slider-hide {
    /*   left: -250px; */
    transform: translateX(-100%);
}

.content-show {
    /*   left: 0px; */
    transform: translateX(0%);
}

.content-hide {
    /*   left: -250px; */
    transform: translateX(-100%);
}