@using BasicCAM.WASM.Application

@inject BasicCAMMain App

@inject IJSRuntime JSRuntime

<div style="height: 100%">
    <div id="segment-tree" class="tree">
        <ul>
            @if (null != App.BasicCAMProject)
            {
                @foreach (var block in App.BasicCAMProject.BlockList)
                {
                    <li>
                        <input type="checkbox" checked />
                        <label tabindex="-1" @onclick="@(e => SelectedObject = block.Preferences)">
                            @block.Name
                        </label>
                        <ul>
                            @foreach (var segment in block.Segments)
                            {
                                <li>
                                    <label tabindex="-1"  @onclick="@(e => SelectedObject = segment.Settings)">
                                        @segment.Type
                                    </label>
                                </li>
                            }
                        </ul>
                    </li>
                }
            }
        </ul>
    </div>
    <div id="segment-properties" class="segment-properties">
        <EditForm Model="this" class="property-form">
            <PropertyList Object="SelectedObject" />
        </EditForm>
            
    </div>
</div>
<style>
    .gutter {
        background-color: #eee;
        background-repeat: no-repeat;
        background-position: 50%;
    }

    .gutter.gutter-vertical {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    }

    .gutter.gutter-horizontal {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    }
</style>
@code {
    private object SelectedObject { get; set; } = new object();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            App.SolutionDataChanged += Update;
        }
        base.OnAfterRenderAsync(firstRender);
    }

    void Update(object sender, EventArgs e)
    {
        StateHasChanged();
        JSRuntime.InvokeVoidAsync("BasicCAMJS.split");
    }

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }
}
