@using BasicCAM.WASM.Application
@inject IJSRuntime JSRuntime

@inject BasicCAMMain App

    <div class="clamp-top large-header">
        Preferences
    </div>
    <div class="clamp-top">
        <input id="search" placeholder="Search Preferences" type="search" class="property-search" />
    </div>
    <div class="fill scroller">
        <EditForm EditContext="EditContext" class="property-form">

            <DataAnnotationsValidator></DataAnnotationsValidator>


            <div id="cam">
                <label class="property-header">CAM</label>
                <PropertyList Object="App.BasicCAMProject.CAM_Preferences" />
            </div>

            <div id="tool">
                <label class="property-header">Tool</label>
                <PropertyList Object="App.BasicCAMProject.Tool_Preferences" />
            </div>

            <div id="machine">
                <label class="property-header">Machine</label>
                <PropertyList Object="App.BasicCAMProject.Machine_Preferences" />
            </div>

            <div id="gcode">
                <label class="property-header">GCode</label>
                <PropertyList Object="App.BasicCAMProject.GCode_Preferences" />
            </div>
        </EditForm>
    </div>
    @code {
        private EditContext EditContext;

        protected override async Task OnInitializedAsync()
        {
            EditContext = new EditContext(this);
            EditContext.OnFieldChanged += EditContext_OnFieldChanged;

            base.OnInitialized();
        }

        protected void EditContext_OnFieldChanged(object sender, EventArgs e)
        {
            App.PreferenceChanged();
        }

        protected override void OnAfterRender(bool firstRender)
        {
            if (firstRender)
            {
                JSRuntime.InvokeVoidAsync("Sidebar.initSearch");

            };
            base.OnAfterRender(firstRender);
        }
    }
