@inject IJSRuntime JSRuntime
@using BasicCAM.WASM.Application

@inject BasicCAMMain App

<nav class="sidebar">
    <ul class="sidebar-buttons" role="tablist">
        <li class="sidebar-item active" role="tab" aria-controls="project">
            <div class="sidebar-text">
                Project
            </div>
        </li>
        <li class="sidebar-item" role="tab" aria-controls="preferences">
            <div class="sidebar-text">
                Preferences
            </div>
        </li>
        <li class="sidebar-item" role="tab" aria-controls="solution">
            <div class="sidebar-text">
                Solution
            </div>
        </li>
    </ul>
</nav>
<div class="slider" id="slider">
    <div id="project" class="slider-content" role="tabpanel" aria-labledby="project-tab">
        <Project />
    </div>
    <div id="preferences" class="slider-content" role="tabpanel" aria-labledby="preferences-tab">
        <Preferences />
    </div>
    <div id="solution" class="slider-content" role="tabpanel" aria-labledby="solution-tab">
        <Solution />
    </div>
    <div class="slider-handle" data-target="#slider"></div>

</div>
@code{

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            JSRuntime.InvokeVoidAsync("Sidebar.load");
            App.SolutionDataChanged += SolutionChanged;
        };
        base.OnAfterRender(firstRender);
    }
    private void SolutionChanged(object sender, EventArgs e)
    {
        StateHasChanged();
    }
}


