@*Display Startup/Welcome page
    Including basic instructions of what to do first
*@
<div class="clamp-top large-header">
    Welcome to BasicCAM
</div>
<div class="fill p-1rem">
    <p>This project was intented to provide *basic* CAM functionality for 2.5D machining (lasers, engravers, simple milling). To get started, select an option below, or load a sample Project.</p>
</div>
<div class="clamp-bottom">
    @*TODO OPEN RECENT PROJECT*@

    @*TODO OPEN DXF*@
</div>
@code {

}
