@page "/"

@inherits LayoutComponentBase
@using BasicCAM.WASM.Application
@using BasicCAM.WASM.Components

@using Microsoft.Extensions.Logging
@inject IJSRuntime JSRuntime
@inject ILogger<MainLayout> logger
@inject BasicCAMMain App

<div class="page">
    <NavMenu/>
    <Sidebar/>
    <SolutionRendering/>
</div>

